########################################################################################################################
# List aliases
########################################################################################################################

alias ll='ls -alh'
alias lsd='ls -d */'

########################################################################################################################
# Programs
########################################################################################################################

alias safari="open -a safari"
alias firefox="open -a firefox"
alias chrome="open -a 'Google Chrome'"

########################################################################################################################
# Internet
########################################################################################################################

# IP addresses
alias ip="dig @resolver1.opendns.com A myip.opendns.com +short -4"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

########################################################################################################################
# Network
########################################################################################################################

# list all apps on ports
alias listen="sudo lsof -iTCP -sTCP:LISTEN -n -P"
